@font-face {
    font-family: 'IRANSans';
    src:  url('../fonts/IRANSans-web.woff') format('woff');
}

html,body{
    outline: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: IRANSans;
    direction: rtl;
    direction: rtl;
    background: url(../images/univers.avif);
    background-repeat: no-repeat;
}

.container {
    padding: 50px;
}

.header 
{
    height: 500px;
}

.header .introduction
{
    padding: 20px 0 50px 0;
}

.header .navbar ul{
    display: flex;
    padding-right: 0;
}

.header .navbar ul li{
    list-style: none;
    margin: 0 0 0px 50px;
}

.header .navbar ul li a{
    text-decoration: none;
    color: #152164;
    font-weight: bold;
}

.header .navbar ul li a:hover{
    color: rgb(0, 142, 231);
}

.btn{
    border: 0px !important;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 6px 14px #bfc3cd;
    height: 54px !important;
    transition-duration: .5s;
}

.btn:hover{
    box-shadow: 0px 6px 14px #8893b5;
    transition-duration: .5s;
}

.btn-blue{
    background: #3F51B5;
    color: white;
}

.btn-orange{
    background: #FF5722;
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background: #3f51b5;
    padding: 10px;
    color: #cecece;
    height: 250px;
}

footer a {
    color: #cecece;
    text-decoration: none;
}

footer ul {
    width: 20%;
}

.form-group
{
    padding: 10px;
}

.form-group label
{
    display: block;
    margin: 0px 0px 0 25px;
}

.form-group  .form-control
{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin: 5px 0 5px 5px;
    border: 1px solid #b3b3b3;
    font-family: 'IRANSANS';
}

.bg-blue{
    background: aliceblue;;
}

.p-5{
    padding: 25px;
}

.text-error{
    color: red;
}